.project {
  padding: 10px 0;
}

.project-item {
  padding: 18px 0;
  border-bottom: 1px solid #e8e0d6;
}

.project-item:last-child {
  border-bottom: none;
}

.project-item h3 {
  margin-bottom: 5px;
}

.project-item p {
  margin-bottom: 5px;
}
